<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>students</title>
</head>
<body>
  <ul>
    <li>
    name :  
    {{ student.name }}
    </li>
    <br>
    <li>
    city : 
    {{ student.city }}
    </li>
    <br>
    <li>
    age : 
    {{ student.age }}
    </li>
</ul>
      <a href="/students" style="color: black;">back</a>

</body>
</html>